* {

}

body {
  width : 100%;
  display:  flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

canvas {
  margin: auto;
}

p {
  text-align: center;
}

input {
  width : 800px;
  margin: auto;
  text-align: center;
}
