* {
  border : 0;
  padding : 0;
  margin : 0;
}


.header {
  width : 100%;
  margin : 1rem auto;
  text-align: center;
  font-size : 2rem;
}
.converter {
  width : 70%;
  margin : 1rem auto;
  background-color: rgba(0,0,0,0.1);
}
.converter h2 {
  padding : 1rem;
}
.converter-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 1.5rem;
  justify-content: space-around;
}
.converter-content label, .converter-content input{
  margin : 1rem;
}
.converter label {
  padding : 0.5rem;
}
.converter input {
  padding : 0.5rem;
  border : 1px solid rgba(0,0,0,0.25);
  font-size: 1.5rem;
}
